.headline {
    margin-top: 90px;
}

.card {
margin: 0.5rem;

position: relative;
border-radius: 12px;

transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.09, 1.09);
}

.description { 
    opacity: 0;
    height: 0;
}
.card:hover .description { 
    transition: 0.6s;
    opacity: 1;
    height: 34px;
}

/* .card-text {
    opacity: 0;
}
.card-text:hover {
    opacity: 1;
  } */